/* Стили для увеличения изображения при наведении */
.card-img-top {
    transition: transform 0.3s;
    position: relative; /* Устанавливаем относительное позиционирование для контейнера изображения */
    z-index: 1; /* Устанавливаем высокий z-index для всех изображений */
}

.card-img-top:hover {
    transform: scale(2.5); /* Увеличиваем изображение */
    z-index: 2; /* Увеличиваем z-index для увеличенного изображения */
}
